.index {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #6c7a89;
}

.container {
    position: absolute;
    border-radius: 0.5vw;
    top: 50%;
    left: 50%;
    width: 25%;
    height: 35%;
    padding: 1vw;
    transform: translate(-50%, -50%);
    background-color: #ffffffd5;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
}