body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 0.8vw;
}

h1 {
    text-align: center;
}

.success_message {
    font-weight: bold;
    text-align: center;
    color: #006b05;
}

.error_message {
    font-weight: bold;
    text-align: center;
    color: #6b0000;
}

input {
    width: 25vw;
    padding: 0.8vw 0.8vw;
    margin: 0.5vw 0vw;
    display: inline-block;
    border: 0.1vw solid #ccc;
    box-sizing: border-box;
}

input[type=date] {
    width: 100%;
    border: 0.1vw solid #777;
    border-radius: 0.5vw;
    padding: 0.25vw 0.5vw;
    cursor: pointer;
    line-height: 1.1;
    margin-top: 0;
    background-color: #ffffff;
}

button {
    border-radius: 0.5vw;
    padding: 0.8vw 0.8vw;
    margin: 0.5vw 0vw;
    width: 10vw;
    border: none;
    cursor: pointer;
    background-color: #686868;
    color: white;
}

button:hover {
    opacity: 0.8;
}

select {
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
    width: 100%;
    border: 0.1vw solid var(--select-border);
    border-radius: 0.5vw;
    padding: 0.25vw 0.5vw;
    cursor: pointer;
    line-height: 1.1;
    margin-bottom: 1%;
    background-color: #ffffff;
}

.pagination {
    display: inline-block;
}
  
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}